{% extends 'articles/base.html' %}
{% block body %}
  <form action="/articles/create/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="title">Title</label><br>
    <input type="text" name="title" id="title" style="width: 230px"><br>
    <label for="content">Content</label><br>
    <textarea name="content" id="content" cols="30" rows="10" placeholder="내용을 작성하세요"></textarea><br>
    <label for="image">이미지 : </label>
    <input type="file" name="image" id="image">
    <input type="submit">
    
  </form>
{% endblock %}